.block{
    padding-top:  100px;
    align-items: right;
    align-content: right;
    color:#61dafb;
    font-size: large;
    
}
.text{
    padding-top:  100px;
    color:#ffffff;
    max-width: 400px;
    font-size:  20px;
}
.cardBody{
    max-width: 400px;
}